body{
    margin: 0 10%;
    margin-bottom: 5%;
    padding: 0;
    font-family: 'Poppins';
    background-color: rgb(238, 238, 238);

}

.featured-container{
    position: relative;
}

.post-section{
    margin-top: 3%;
    display: flex;
    /* border: 1px solid black; */
}

.content{
    width: 100%;
}

.posts{
    width: 70%;
    /* background-color: red; */
}

.right-sidebar{
    padding: 5px;
    width: 30%;
    /* background-color: green; */
}

hr.dashed {
    margin-top: 1%;
    border-top: 1px solid gainsboro;
  }

@media only screen and (max-width: 1047px) {

    .posts{
        width: 100%;
        /* background-color: red; */
    }

    .post-section{
        display: inline-block;
    }

    .right-sidebar{
        position: relative;
        padding: 5px;
        width: 100%;
    }
}

.login-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2%;
    width: 30%;
    z-index: 100;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 2px grey;
}

.login-container .close-icon{

    color: grey;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.login-container form label{
    position: relative;
    text-align: left;
}

.login-container input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;
}

.login-container button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: cornflowerblue;
}
